<h1>Sidebar</h1>

<section id="n">
  <h2>{{ T('Contact') }}</h2>
  <ul>
    <li>Michał<span> ‘mina86’ </span>Nazarewicz
    <li><a href="mailto:mina86@mina86.com">mina86@mina86.com</a>
    <li><a title="AC1F 5F5C D418 88F8 CC84 5858 2060 4012 5075 1FF4"
           href="/mina86.pub"><span class=nb>GPG key:</span>
           <small class=nb>2060 4012 5075 1FF4</small></a>
    <li><a href="xmpp:mina86@jabber.org">mina86@jabber.org</a>
    <li>mina86 on <a href="irc://irc.freenode.net/slackware.pl/">#slackware.pl</a>
  </ul>
</section>

<section id="l">
  <h2>{{ T('Categories') }}</h2>
  <ul>
    {% for cat in categories %}
      <li>
        <a href="{{ cat.href }}">{{ cat.desc }}</a>
        <small>({{ cat.count }})</small>
        {% if cat.feed %}
          <a href="{{ cat.feed }}"
             class="f"><span>{{ T('Atom feed') }}</span></a>
        {% endif %}
      {% endfor %}
  </ul>
</section>

<section id="a">
  <h2>{{ T('Archive') }}</h2>
  <ul>
    {% for arch in archives %}
      <li><a href="{{ arch.href }}">{{ arch.desc }}</a> <small>({{ arch.count }})</small>
    {% endfor %}
  </ul>
</section>

<section id="i">
  <ul>
    <li><a href="https://my.fsf.org/register_form?referrer=8793">FSF Associate Member #8793</a>
    <li><a href="https://fsfe.org/">FSF Europe</a>
    <li><a href="https://fellowship.fsfe.org/">FSFE Fellow #1791</a>
    <li><a href="https://sfconservancy.org/">Software Freedom Conservancy supporter</a>
    <li><a href="http://slackware.com/">Slackware</a>
  </ul>
</section>
