<h1>Sidebar</h1>

<section id="n">
  <h2>{{ T('Contact') }}</h2>
  <ul>
    <li>Michał Nazarewicz
    <li><a href="mailto:mina86@mina86.com">mina86@mina86.com</a>
    <li><a href="https://matrix.to/#/@mina86:matrix.org">@mina86:matrix.org</a>
    <li><a href=/cv>CV</a> | <a href="https://www.linkedin.com/in/mina86/">LinkedIn</a>
    <!--li><a title="AC1F 5F5C D418 88F8 CC84 5858 2060 4012 5075 1FF4"
           href="/mina86.pub"><span class=nb>GPG key:</span>
           <small class=nb>2060 4012 5075 1FF4</small></a-->
  </ul>
</section>

<section id="l">
  <h2>{{ T('Categories') }}</h2>
  <ul>
    {% for cat in categories %}
      <li>
        <a href="{{ cat.href }}">{{ cat.desc }}</a>
        <small>({{ cat.count }})</small>
        {% if cat.feed %}
          <a href="{{ cat.feed }}"
             class="f"><span>{{ T('Atom feed') }}</span></a>
        {% endif %}
      {% endfor %}
  </ul>
</section>
