{# Variables:
 #   lang -- page's language code, if empty ‘en’ is used
 #   title -- page’s title, if present ‘–mina86.com’ will be
 #            appended to it
 #   is_main_index -- whether it’s the main index page
 #   atom_link -- link to atom feed, if any
 #   prev, next -- previous and next page.  Those are dictionaries with
 #                 href and title keys.
 #   canonical -- canonical URL for the page
 #}

{%- macro attr(name, value, cond=true) -%}
  {%- if cond and value %} {{ name }}="{{ value }}" {% endif -%}
{%- endmacro -%}

{%- macro link(rel, href, title='') -%}
  {%- if href -%}
    <link rel="{{ rel }}" href="{{ href }}"
          {%- if title %} title="{{ title }}"
          {%- endif %}>
  {%- endif -%}
{%- endmacro -%}

{%- macro social(entry) -%}
  <div class="s">
    <a href="https://twitter.com/intent/tweet?text={{
         entry.subject | urlencode
       }}&amp;url=https://mina86.com{{
         entry.href | urlencode
       }}{% if entry.tags -%}
         &amp;hashtags={{ entry.tags | join(',') | urlencode }}
       {%- endif -%}" target=_blank rel=noopener class=x>{{ T('Tweet') }}</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://mina86.com{{
         entry.href | urlencode
       }}" target=_blank rel=noopener class=y>{{ T('Share') }}</a>
  </div>
{%- endmacro -%}

{%- set _prev_next_accesskeys = [ 1 ] -%}
{%- macro prev_next() -%}
  {% if prev or next %}
    <nav class="p">
      <ul>
        {%- if prev -%}
          <li><a href="{{ prev.href }}" rel="prev"
                   {{ attr('accesskey', 'P', _prev_next_accesskeys[0]) }}
                   {{ attr('title', prev.title, not prev.subject) }}
                 >« {% if prev.subject -%}{{
                          T('<u>p</u>revious:') | safe
                       }} <i>{{ prev.subject | safe }}</i>
                    {%- else %} {{ T('<u>p</u>revious page') | safe }}
                    {%- endif -%}</a>
        {%- endif -%}
        {%- if next -%}
          <li class="r"><a href="{{ next.href }}" rel="next"
                   {{ attr('accesskey', 'N', _prev_next_accesskeys[0]) }}
                   {{ attr('title', next.title, not next.subject) }}
                 >{%- if next.subject -%}{{
                           T('<u>n</u>ext:') | safe
                       }} <i>{{ next.subject | safe }}</i>
                  {%- else %}{{ T('<u>n</u>ext page') | safe }}
                  {%- endif %} »</a>
         {%- endif -%}
      </ul>
    </nav>
    {%- set _ = _prev_next_accesskeys.__setitem__(0, 0) -%}
  {% endif %}
{%- endmacro -%}

{%- macro post(entry, post_page) -%}
{%- set full = post_page or not entry.body.excerpt -%}
  <article {{ attr('class', 'q', full) }}>

    <h1><a href="{{ entry.href }}"
           title="{{ T('Permanent link to the entry.') }}">{{
        entry.subject | safe }}</a></h1>

    <p class="b">{{ byline('Michał ‘mina86’ Nazarewicz', 'mina86@mina86.com',
                           entry.date) }}

    <div class=t lang="{{ entry.lang }}">
      {% if full %}
        {{ entry.body | safe }}
      {% else %}
        {{ entry.body.short | safe }}
      {% endif %}
    </div>

    <footer class="g">
      {%- if post_page -%}
      {%- elif full -%}
        <a href="{{ entry.href }}#c">{{ T('See comments') }} »</a>
      {%- else -%}
        <a href="{{ entry.href }}#m">{{ T('Continue reading') }} »</a>
      {%- endif -%}

      {{ social(entry) }}

      <div class="i">
        <ul>
          <li><a href="{{ entry.href }}"
                 title="Permanent link to the entry.">permlink</a>
        </ul>
        <p>{{ T('In categories:') }}
        <ul>
          {% for cat in entry.categories %}
            <li><a href="{{ cat.href }}" rel="category">{{ T(cat) }}</a>
          {% endfor %}
        </ul>
        {% if entry.tags %}
          <p>{{ T('Tagged with:') }}
          <ul>
            {% for tag in entry.tags %}<li>{{ tag }}{% endfor %}
          </ul>
         {% endif %}
      </div>

    </footer>

  </article>
{%- endmacro -%}

<!DOCTYPE html>
<!--!github.com/mina86/mina86.com-->
<html lang={{ lang }}>
<meta charset=UTF-8>
<title>{% if title %}{{ title | striptags }} ― {% endif %}mina86.com</title>
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/d/css.css">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" sizes="192x192" href="/d/192.png">
{% block meta_links %}
  {{ link('home', '/', 'mina86.com') }}
  {{ link('index', '/', 'mina86.com') }}
  <link rel="alternate home" type="application/atom+xml"
        href="/atom" title="Atom feed">
  {{ link('canonical', canonical) }}
  {% if prev %}{{
    link('prev', prev.href, prev.title | default(prev.subject, true))
  }}{% endif %}
  {% if next %}{{
    link('next', next.href, next.title | default(next.subject, true))
  }}{% endif %}
{% endblock %}

<header id="h" role=banner>
  <div class=w>
    <h1><a href="/" role=presentation><span>mina86</span>.com</a></h1>
    <nav>
      <ul>
        {%- if lang == 'pl' -%}
          <li><a accesskey="H" href="/">Główna</a>
          <li><a accesskey="D" href="https://github.com/mina86/">Ko<u>d</u></a>
          <li><a accesskey="F" href="/c/downloads/">Pliki</a>
          <li class=d><a accesskey="N" href=#n>Ko<u>n</u>takt</a>
          <li class=d><a accesskey="C" href=#l>Kategorie</a>
        {%- else -%}
          <li><a accesskey="H" href="/"><u>H</u>ome</a>
          <li><a accesskey="D" href="https://github.com/mina86/">Co<u>d</u>e</a>
          <li><a accesskey="F" href="/c/downloads/"><u>F</u>iles</a>
          <li class=d><a accesskey="N" href=#n>Co<u>n</u>tact</a>
          <li class=d><a accesskey="C" href=#l><u>C</u>ategories</a>
        {%- endif -%}
      </ul>
    </nav>
    <gcse:search></gcse:search>
  </div>
</header>


<div id=b>
  <div class=w>
    <main id=m>{% block main %}{% endblock %}</main>
    <nav id=s>{% include '_sidebar.html' %}</nav>
  </div>
</div>


<footer id=f role=contentinfo>
  <p>© {% if entry and entry.date %} {{ entry.date.year }}
       {% endif %} Michał Nazarewicz.

    {% if lang == 'pl' %}

      O ile nie zaznaczono inaczej, treść wpisów udostępniany na zasadach
      licencji <a rel="license"
      href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
      a kod na zasadach licencji <a rel="license"
      href="https://apache.org/licenses/LICENSE-2.0">Apache License, Version
      2.0</a>.

    {% else %}

      Unless stated otherwise, text of the entries is distributed under the
      terms of the <a rel="license"
      href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
      Attribution-ShareAlike 4.0 International</a> license and code under the
      terms of the <a rel="license"
      href="https://apache.org/licenses/LICENSE-2.0">Apache License, Version
      2.0</a>.

    {% endif %}
</footer>

<script src=/d/js.js></script>
