{# Variables:
 #   lang -- page's language code, if empty ‘en’ is used
 #   title -- page’s title, if present ‘–mina86.com’ will be
 #            appended to it
 #   is_main_index -- whether it’s the main index page
 #   atom_link -- link to atom feed, if any
 #   prev, next -- previous and next page.  Those are dictionaries with
 #                 href and title keys.
 #   canonical -- canonical URL for the page
 #}

{%- macro attr(name, value, cond=true) -%}
  {%- if cond and value %} {{ name }}="{{ value }}" {% endif -%}
{%- endmacro -%}

{%- macro link(rel, href, title='') -%}
  {%- if href -%}
    <link rel="{{ rel }}" href="{{ href }}" {{ attr('title', title) }}>
  {%- endif -%}
{%- endmacro -%}

{%- macro prev_next() -%}
  {% if prev or next %}
    <ul id=p>
      {%- if next -%}
        <li><a href="{{ next.href }}" rel="next"
                 {{ attr('title', next.title, not next.subject) }}
               >« {% if next.subject -%}<i>{{ next.subject | safe }}</i>
                  {%- else %}{{ T('newer posts') | safe }}
                  {%- endif %}</a>
       {%- endif -%}
      {%- if prev -%}
        <li class="r"><a href="{{ prev.href }}" rel="prev"
                 {{ attr('title', prev.title, not prev.subject) }}
               >{% if prev.subject -%}<i>{{ prev.subject | safe}}</i>
                {%- else %} {{ T('older posts') | safe }}
                {%- endif %} »</a>
      {%- endif -%}
    </ul>
  {% endif %}
{%- endmacro -%}

{%- macro post(entry, post_page) -%}
{%- set full = post_page or not entry.body.has_excerpt -%}
  <article self="{% if not post_page %}{{ entry.href }}{% endif %}">
    <h1><a lang="{{ entry.lang }}" href="{{ entry.href }}"
           title="{{ T('Permanent link to the entry.') }}">{{
        entry.subject | safe }}</a></h1>

    <p class="y">{{ byline('Michał ‘mina86’ Nazarewicz', 'mina86@mina86.com',
                           entry.date) }}

    <div class="{% if full %}q {% endif %} t" lang="{{ entry.lang }}">{{
      entry.body.html(post_page)
    }}</div>

    <aside>
      {%- if not post_page -%}
        {%- if entry.body.has_excerpt -%}
          <a href="{{ entry.href }}">{{ T('Continue reading') }} »</a>
        {%- else -%}
          <a href="{{ entry.href }}#c">{{ T('See comments') }} »</a>
        {%- endif -%}
      {%- endif -%}

      {%- if entry.categories -%}
        <ul>
          <li class=lb>{{ T('In categories:') }}
          {%- for cat in entry.categories -%}
            <li><a href="{{ cat.href }}" rel="category">{{ T(cat) }}</a>
          {%- endfor -%}
        </ul>
      {%- endif %}
    </aside>
  </article>
{%- endmacro -%}

<!DOCTYPE html>
<!--!github.com/mina86/mina86.com-->
<html lang={{ lang }}>
<!-- As part of updating the scheme we store the style of HTML element in
     localStorage.  Read it and apply it as early as possible to avoid page
     blinking. -->
<script>document.documentElement.style=localStorage.getItem('c')||'';</script>
<meta charset=UTF-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>{% if title %}{{ title | striptags }} — {% endif %}mina86.com</title>
<link rel="stylesheet" href="/d/css.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" href="/d/head-font.woff2" as=font crossorigin>
<link rel="icon" sizes="192x192" href="/d/192.png">
{% block meta_links %}
  {{ link('home', '/', 'mina86.com') }}
  <link rel="alternate home" type="application/atom+xml"
        href="/atom" title="Atom feed">
  {{ link('canonical', canonical) }}
  {% if prev %}{{
    link('prev', prev.href, prev.title | default(prev.subject, true))
  }}{% endif %}
  {% if next %}{{
    link('next', next.href, next.title | default(next.subject, true))
  }}{% endif %}
{% endblock %}
<script defer src=/d/js.js></script>
<script defer src=/d/g></script>
{%- if (entry and entry.body.full_needs_math) or
       (entries and (entries | selectattr('body.excerpt_needs_math') | first)) -%}
<script async
        src=https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js></script>
{%- endif -%}

<header id=h>
  <ul>
    <li class=d><h1><a href="/">mina86.com</a></h1>
    <li class=b><a href="#k">{{ T('Categories') }}</a>
    <li class=b><a href="https://github.com/mina86">{{ T('Code') }}</a>
    <li class=b><a href="#n">{{ T('Contact') }}</a>
  </ul>
</header>

<main id=b>{% block main %}{% endblock %}</main>

<nav id=v>
  <h1>Navigation</h1>
  <div>
  <section id="k">
    <h2>{{ T('Categories') }}</h2>
    <ul class="m k">
      {% for cat in categories %}
      <li>
        <a href="{{ cat.href }}"
           {{ attr('class', cat.lang) }}>{{ cat.desc }}</a>
        <small>({{ cat.count }})</small>
        {% if cat.feed %}
        <a href="{{ cat.feed }}" class="a">feed</a>
        {% endif %}
      {% endfor %}
    </ul>
  </section>


  <section id=n>
    <h2>{{ T('Contact') }}</h2><ul class="m n"><li><strong>Michał Nazarewicz</strong><li><a href=mailto:mina86@mina86.com>mina86@mina86.com</a><li><a href=//matrix.to/#/@mina86:matrix.org>@mina86:matrix.org</a><li class=np><a href=/cv>{{ T('Resume') }}</a>  <a href="https://www.linkedin.com/in/mina86/" class=i>LinkedIn</a>
  </ul></section>
  </div>
</nav>
