{# Variables:
 #   lang -- page's language code, if empty ‘en’ is used
 #   title -- page’s title, if present ‘–mina86.com’ will be
 #            appended to it
 #   is_main_index -- whether it’s the main index page
 #   atom_link -- link to atom feed, if any
 #   prev, next -- previous and next page.  Those are dictionaries with
 #                 href and title keys.
 #   canonical -- canonical URL for the page
 #}

{%- macro attr(name, value, cond=true) -%}
  {%- if cond and value %} {{ name }}="{{ value }}" {% endif -%}
{%- endmacro -%}

{%- macro link(rel, href, title='') -%}
  {%- if href -%}
    <link rel="{{ rel }}" href="{{ href }}"
          {%- if title %} title="{{ title }}"
          {%- endif %}>
  {%- endif -%}
{%- endmacro -%}

{%- macro social(href, title='') -%}
  <div class="s">
    <div class="g-plusone" data-size="medium" data-href="{{ href }}"></div>
    <a href="https://twitter.com/share"
       class="twitter-share-button"
       data-url="{{ href }}"
       {{ attr('title', title) }}>Tweet</a>
  </div>
{%- endmacro -%}

{%- set _prev_next_accesskeys = [ 1 ] -%}
{%- macro prev_next() -%}
  {% if prev or next %}
    <nav class="p">
      <ul>
        {%- if prev -%}
          <li><a href="{{ prev.href }}" rel="prev"
                   {{ attr('accesskey', 'P', _prev_next_accesskeys[0]) }}
                   {{ attr('title', prev.title, not prev.subject) }}
                 >« {% if prev.subject -%}{{
                          T('<u>p</u>revious:') | safe
                       }} <i>{{ prev.subject }}</i>
                    {%- else %} {{ T('<u>p</u>revious page') | safe }}
                    {%- endif -%}</a>
        {%- endif -%}
        {%- if next -%}
          <li class="n"><a href="{{ next.href }}" rel="next"
                   {{ attr('accesskey', 'N', _prev_next_accesskeys[0]) }}
                   {{ attr('title', next.title, not next.subject) }}
                 >{%- if next.subject -%}{{
                           T('<u>n</u>ext:') | safe
                       }} : <i>{{ next.subject }}</i>
                  {%- else %}{{ T('<u>n</u>ext page') | safe }}
                  {%- endif -%} »</a>
         {%- endif -%}
      </ul>
    </nav>
    {%- set _ = _prev_next_accesskeys.__setitem__(0, 0) -%}
  {% endif %}
{%- endmacro -%}

{%- macro post(entry, post_page) -%}
{%- set full = post_page or not entry.body.excerpt -%}
  <article {% if full %} class=q {% endif %} lang="{{ entry.lang }}">

    <h1><a href="{{ entry.href }}"
           title="{{ T('Permanent link to the entry.') }}">{{
        entry.subject }}</a></h1>

    <p class="b">{{ byline('Michał ‘mina86’ Nazarewicz', entry.date) }}

    <div class=t>
      {% if full %}
        {{ entry.body | safe }}
      {% else %}
        {{ entry.body.short | safe }}
        <p><a href="{{ entry.href }}#m">{{ T('Continue reading') }} »</a>
      {% endif %}
    </div>

    <footer class="g">
      {% if not post_page %}
        <ul>
          <li><a href="{{ entry.href }}#c">
              {%- if lang == 'pl' -%}
                Komentarze: <span class="spot-im-replies-count"
                      data-post-id="{{ entry.permalink }}"lang=en>zobacz</span>
              {%- else -%}
                <span class="spot-im-replies-count"
                      data-post-id="{{ entry.permalink }}"
                      lang=en>See</span> comments
              {%- endif -%}
            </a>
        </ul>
      {% endif %}

      {{ social(entry.href, entry.subject) }}

      <div class="i">
        <ul>
          <li><a href="{{ entry.href }}"
                 title="Permanent link to the entry.">permlink</a>
        </ul>
        <p>{{ T('In categories:') }}
        <ul>
          {% for cat in entry.categories %}
            <li><a href="{{ cat.href }}" rel="category">{{ T(cat) }}</a>
          {% endfor %}
        </ul>
        {% if entry.tags %}
          <p>{{ T('Tagged with:') }}
          <ul>
            {% for tag in entry.tags %}<li>{{ tag }}{% endfor %}
          </ul>
         {% endif %}
      </div>

    </footer>

  </article>
{%- endmacro -%}

<!DOCTYPE html>
<!--!github.com/mina86/mina86.com-->
<html lang={{ lang }}>
<meta charset=UTF-8>
<title>{% if title %}{{ title }} ― {% endif %}mina86.com</title>
<meta name=viewport content="width=device-width, initial-scale=1">
<!--[if lt IE 9]><script src="/d/html5"></script><![endif]-->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" sizes="192x192" href="/d/192.png">
{% for d in ('192', '180', '152', '120', '76') %}
  <link rel="apple-touch-icon" sizes="{{ d }}x{{ d }}" href="/d/{{ d }}.png">
{% endfor %}
<link rel="stylesheet" href="/d/css"
      media="screen, projection, tv, handheld, tty, print">
{{ link('home', '/', 'mina86.com') }}
{{ link('index', '/', 'mina86.com') }}
<link rel="alternate home" type="application/atom+xml"
      href="/atom.xml" title="Atom feed">
{{ link('canonical', canonical) }}
{% if prev %}{{
  link('prev', prev.href, prev.title | default(prev.subject, true))
}}{% endif %}
{% if next %}{{
  link('next', next.href, next.title | default(next.subject, true))
}}{% endif %}


<header id="h" role=banner>
  <div class=w>
    <h1><a href="/" role=presentation><span>mina86</span>.com</a></h1>
    <nav>
      <ul>
        {%- if lang == 'pl' -%}
          <li><a accesskey="H" href="/">Główna</a>
          <li><a accesskey="D" href="https://github.com/mina86/">Ko<u>d</u></a>
          <li><a accesskey="F" href="/c/downloads/">Pliki</a>
          <li class=d><a accesskey="N" href=#n>Ko<u>n</u>takt</a>
          <li class=d><a accesskey="C" href=#l>Kategorie</a>
          <li class=d><a accesskey="A" href=#a>Archiwum</a>
        {%- else -%}
          <li><a accesskey="H" href="/"><u>H</u>ome</a>
          <li><a accesskey="D" href="https://github.com/mina86/">Co<u>d</u>e</a>
          <li><a accesskey="F" href="/c/downloads/"><u>F</u>iles</a>
          <li class=d><a accesskey="N" href=#n>Co<u>n</u>tact</a>
          <li class=d><a accesskey="C" href=#l><u>C</u>ategories</a>
          <li class=d><a accesskey="A" href=#a><u>A</u>rchive</a>
        {%- endif -%}
      </ul>
    </nav>
    <gcse:search></gcse:search>
  </div>
</header>


<div id=b>
  <div class=w>
    <main id=m>{% block main %}{% endblock %}</main>
    <nav id=s>{% include '_sidebar.html' %}</nav>
  </div>
</div>


<footer id=f role=contentinfo>
  {%- if lang == 'pl' -%}

    <p>O ile nie zaznaczono inaczej, treść wpisów udostępniany na
      zasadach licencji <a rel="license"
      href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA
      4.0</a>, a kod – <a rel="license"
      href="https://www.apache.org/licenses/LICENSE-2.0">Apache
      License, Version 2.0</a>.

  {%- else -%}

    <p>Unless stated otherwise, text of the entries licensed under
      the <a rel="license"
      href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA
      4.0</a> license and code – <a rel="license"
      href="https://www.apache.org/licenses/LICENSE-2.0">Apache
      License, Version 2.0</a>.

  {%- endif -%}
</footer>


<script src=/d/js></script>
