/*!github.com/mina86/mina86.com*/

/*
 * Classes:
 * - p.nt – a note with some meta information (special licensing information,
 *   note about series, etc.)  Set with smaller font.
 */

/* I need something which will automatically choose IDs and classes. */
/* id:  a     d e       i j k       o p q r   t u v w x y z */
/* cls:     c   e     h   j k l m   o           u           */

@head-id: #h;  /* Page header. */
@body-id: #b;  /* Page body (article text, comments, sidebar etc). */
@foot-id: #f;  /* Page footer. */

@main-id: #m;  /* Article, comments etc.  In other words, body sans sidebar. */
@side-id: #s;  /* Sidebar. */
@pin-cls: .v;  /* Sidebar pinned to the side. */

@wrap-cls: .w;  /* Wrapper DIV inside @head-id and @body-id elements which
                   exists to limit the ‘usable’ width. */

/* Header elements: */
/* Last links in header which are hidden when side bar is on the side. */
@hidden-links-cls: .d;

/* Main content elements: */
@pagination-cls: .p;  /* Pagination table. */
@qed-cls: .q;  /* Article is shown in its entirety. */
@byline-cls: .b;  /* Byline paragraph. */
@article-text-cls: .t;  /* Text of the article. */
@comments-id: #c;  /* Comments  (on pages which have comments). */

@meta-cls: .g;
@social-cls: .s;
@tweet-cls: .x;
@facebook-cls: .y;
@cats-and-tags-cls: .i;

/* Sidebar sections: */
@contact-id: #n;  /* Contact section in the sidebar. */
@categories-id: #l;  /* Categories section in the sidebar. */
@feed-icon-cls: .f;  /* Class for the feed icon */

/* Generic stuff */
@right-align-cls: .r;
@left-align-cls: .lt;
@news-image: .n;
@unicode-name: .ud;


/* Sizes based on five-note typographic scale with ratio of two (see
   <http://spencermortensen.com/articles/typographic-scale/>).  Numbers are
   rounded to be multiple of 1/8 so that whatever they are they give an integer
   when multiple by 16px default font-size used by browsers.  Other sizes in
   this CSS are kept to be multiples of 1/8 as well to minimise non-integer
   dimensions. */
@tiny:     0.75em;   /* =  6/8 ≈ 2^-0.4 */
@small:    0.875em;  /* =  7/8 ≈ 2^-0.2 */
@normal:   1em;
@large:    1.25em;   /* = 10/8 ≈ 2^0.4 */
@huge:     1.75em;   /* = 14/8 ≈ 2^0.8 */
@title:    2em;

@cosmic-latte: #fff8e7;  /* https://en.wikipedia.org/wiki/Cosmic_latte */
@milky-way: #f9f1ff;  /* http://www.news.pitt.edu/milkywaycolor */

// @header-bg: #0844a2;  /* Average of /d/top-img.webp */
// @bg: @cosmic-latte;
// @even-bg: @milky-way;
// @sidebar-bg: #fff;
// @footer-bg: @header-bg;

/* http://davidjohnstone.net/pages/lch-lab-colour-gradient-picker is quite
   useful. */

@head-bg: #0844a2;  /* Average colour of /d/top-img.webp */
@body-bg: #e4f0ff;  /* L* = 95, same a* and b* as @head-bg */
@side-bg: #b6ccee;  /* Step between @head-bg and @body-bg. */

@text-color: #000000;
@code-color: #004a17;  /* L* = 20 which is the same as of #333 */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@body-font: 'Libre Baskerville', Georgia, Charter, Utopia, serif;
@mono-font: 'DejaVu Sans Mono', 'Source Code Pro', 'Liberation Mono', 'Courier New', monospace;  /* for <pre> */
@code-font: 'Noto Sans', Verdana, sans-serif;  /* for <code> and <kbd> */
@head-font: @code-font;
@sidebar-width: 14em;
@content-width: 50em;
@wrap-width: (@sidebar-width + @content-width);


.text-off-screen() {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.grayscale-on() {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.grayscale-off() {
	-webkit-filter: none;
	filter: none;
}

.no-print() {
	@media print {
		display: none !important;
	}
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html {
	@media screen, projection, tv, handheld {
		color: @text-color;
		background: @body-bg;
	}
	font-family: @body-font;
	font-variant: common-ligatures oldstyle-nums proportional-nums;
	text-rendering: optimizelegibility;
	line-height: 1.5;
}


/**** Page layout ****/

@media screen, projection, tv, handheld {
	html {
		height: 100%;
	}
	body {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}
	@{body-id} {
		flex: 1;
	}

	@{head-id} {
		height: 14em;
	}
	@{head-id} @{wrap-cls} {
		height: 100%;
	}

	@{main-id}, @{side-id} section {
		padding: 1em;
		max-width: @content-width;
		margin: 0 auto;
	}
	@{side-id} {
		padding-top: 1em;
		padding-bottom: 5em;
	}

	/* Annoyingly, this rule has to be specified here because if it goes
	   below where other sidebar rules are, the ‘background: none’ property
	   in @media just below won’t clear it. */

	@{side-id} {
		background: @side-bg;
	}

	@media (min-width: @wrap-width) {
		@{wrap-cls} {
			min-width: @wrap-width;
			width: 90%;
			max-width: (@wrap-width + 5em);
			margin: 0 auto;
		}

		@{main-id} {
			float: left;
			width: @content-width;
			max-width: @content-width;
		}

		@{main-id} @{wrap-cls} {
			padding: 0;
		}

		@{side-id} {
			float: right;
			width: @sidebar-width;
			background: none;
			padding: 0;
		}
		@{side-id}@{pin-cls} {
			position: fixed;
		}

		@{side-id} section {
			padding: 1em 0.5em;
		}

		@{body-id} {
			overflow: auto;
			padding-bottom: 5em;
		}

		/* Sticking those here helps with minification: */
		@{contact-id} li:first-child span { display: block; }
		@{head-id} li@{hidden-links-cls} { display: none; }
	}
}

@{side-id} {
	a img {
		.grayscale-on();
	}
	a:hover, a:focus {
		img {
			.grayscale-off();
		}
	}
}

/**** Links ****/

h1, h2, h3 {
	page-break-after: avoid;
	a, a:link, a:hover, a:focus, a:visited {
		color: inherit;
	}
}

a {
	text-decoration: none;
	color: #00f;
}
a:visited {
	color: #63c;
}
a:hover, a:focus {
	color: #09f;
	text-decoration: underline;
}


/**** Page header ****/

@{head-id} {
	background: @head-bg;
	font-family: @head-font;

	h1 {
		font-size: @title;
	}
	h1 span {
		font-variant: small-caps;
	}

	@media screen, projection, tv, handheld {
		background: @head-bg url(/d/top-img.webp) no-repeat;
		background-size: cover;
		/* filter: brightness(1.2) blur(5px); */

		@{wrap-cls} {
			position: relative;
		}

		h1 {
			position: absolute;
			color: @body-bg;
			top: 20%;
			left: 2%;
		}

		nav {
			position: absolute;
			bottom: 20%;
			left: 2%;
		}

		li {
			display: inline-block;
			margin: 0.25em;
		}

		ul a, ul a:link, ul a:visited {
			display: inline-block;
			padding: 0.5em 1em;
			color: #333;
			font-weight: 700;
			white-space: nowrap;
			background: #fff;
			background: rgba(255, 255, 255, 0.5);
			text-decoration: none;
			border-radius: 0.3em;
		}

		ul a:hover, ul a:focus {
			color: #00f;
			background: -webkit-linear-gradient(bottom, #cff, rgba(255, 255, 255, 0.4));
			background: -moz-linear-gradient(bottom, #cff, rgba(255, 255, 255, 0.4));
			background: -o-linear-gradient(bottom, #cff, rgba(255, 255, 255, 0.4));
			background: rgba(255, 255, 255, 0.4);
			text-shadow: #000 0.5em 0.5em 1em;
		}
	}

	.no-print();
}


/**** Main content, text of the article and such ****/

article {
	padding: 2em 0;
	position: relative;

	& + &:before {
		content: '';
		position: absolute;
		top: 0;
		left: 15%;
		width: 70%;
		height: 0;
		border-top: 1px solid shade(@body-bg, 20%);
	}

	@media screen, projection, tv, handheld {
		text-shadow: 1px 1px #D9D9E6;
	}

	h1, h2, h3 {
		a, a:hover, a:focus {
			border: none;
		}
	}
	h1 {
		font-size: @huge;
		font-style: italic;
	}
	h2 {
		font-size: @large;
		margin: 1.5em 0 0.75em;
	}
	h3 {
		font-size: @normal;
		margin: 1em 0;
	}
}

@{article-text-cls} {
	line-height: 1.75;

	p, dd, li {
		text-align: justify;
		hanging-punctuation: first allow-end last;
		hyphens: auto;
	}
	p {
		margin: 1em 0;
	}
	small {
		font-size: @small;
	}
	a {
		border-bottom: 1px dotted #99f;
	}
	a:hover, a:focus {
		text-decoration: none;
		border-bottom-style: solid;
		borter-bottom-color: #09f;
	}
}
/* Byline etc */
@{byline-cls} {
	font-style: italic;
	font-weight: 300;
	color: #666;
	page-break-before: avoid;
	page-break-after: avoid;
}

p.nt {
	font-size: @tiny;
	margin-left: 30%;
	text-align: left;
	hyphens: manual;
	font-style: italic;
}

p@{news-image}, figure {
	text-align: center;
	img {
		max-width: 100%;
		height: auto;
	}
}
p@{news-image} + p@{news-image} {
	text-align: right;
	margin-top: -1em;
	font-size: @tiny;
	page-break-before: avoid;
}

/* Code */
code, kbd {
	font-family: @code-font;
	font-weight: normal;
	color: @code-color;
}
pre, code, kbd {
	font-variant: lining-nums slashed-zero;
	text-shadow: none;
	page-break-inside: avoid;
	hyphens: manual;
	@media print {
		color: inherit;
	}
}
pre {
	font-family: @mono-font;
	margin: 1em 0;
	padding: 1em;
	overflow-x: auto;
	font-size: @small;
	border: 1px solid #000;
	border-style: solid none;
	background: #fff;
	color: #151515;  /* Same contrast as between @body-bg and #000 */
	i {
		font-style: normal;
		font-family: @body-font;
	}
}

@media screen, projection, tv, handheld {
	@{qed-cls} @{article-text-cls} > p:last-child:after {
		color: #999;
		font-size: @tiny;
		content: ' -30-';
	}
}

/* Lists */
@{article-text-cls} {
	ul, ol, dl {
		margin: 1em 0;
	}
	li {
		margin: 0 0 0 2em;
		/* Less' data-uri is way over-zealous when URL encoding data
		   URIs which is why I’m sticking to my own. */
		list-style: url(DATA<dot.svg>);
	}
	dt, dd {
		padding: 0;
		margin-top: .25em;
	}
	dd {
		margin-left: 1.5625em;
	}
	dd + dt {
		margin-top: 1em;
	}
}

/* Tables */
table {
	margin: 1em auto;
	font-variant-numeric: tabular-nums;
	font-variant: lining-nums tabular-nums;
	border-collapse: collapse;
}
th, td {
	padding: 0.25em 0.5em;
}
th small {
	font-weight: normal;
}
thead, tbody, tfoot {
	border-top: 1px solid #000;
}

/* Misc */
blockquote {
	background: url(DATA<quote.svg>) 1.5em 0 / 2em 2em no-repeat;
	min-height: 2em;
	padding: 0 4em;
	margin: 1em 0;
	font-size: @small;
}
@{article-text-cls} blockquote {
	p, dd, li {
		text-align: left;
		hyphens: manual;
	}
}
blockquote > :first-child { margin-top: 0; }
blockquote > :last-child { margin-bottom: 0; }

/* Meta information, social etc. */
@{meta-cls} {
	overflow: auto;
	page-break-inside: avoid;
	margin-top: 2em;
	font-style: italic;

	& > a {
		float: left;
		margin-bottom: 0.5em;
	}

	& > ul li + li {
		.no-print();
	}
}

@{social-cls} {
	min-height: 20px;  /* Height of G+ and Twitter buttons */
	font-size: @tiny;
	text-align: right;
	.no-print();
	a {
		display: inline-block;
		font: bold 11px/18px 'Helvetica Neue', Arial, sans-serif;
		color: #fff;
		height: 20px;
		overflow: hidden;
		border-radius: 3px;
		text-decoration: none;
		text-shadow: none;
		padding: 1px 8px 1px 20px;
	}
}
a@{tweet-cls} {
	background: #1b95e0 url(DATA<tweet.svg>) no-repeat;
	&:focus, &:hover {
		background-color: #0c7abf;
	}
}
a@{facebook-cls} {
	background: #577fbc url(DATA<fb.svg>) no-repeat;
	&:focus, &:hover {
		background-color: #3871C6;
	}
}
@{cats-and-tags-cls} {
	font-size: @tiny;
	text-align: right;
	.no-print();

	ul {
		display: block;
		list-style: none;
	}
	li {
		display: inline;
		list-style: none;
		margin: 0.5em;
		margin-right: 0;
	}
	li:before {
		content: '» ';
	}
	li:after {
		content: ' ';
	}
	@media screen, projection, tv, handheld {
		p {
			/* Hide ‘In categories’ and ‘Tagged with:’
			   introductions. */
			display: none;
		}
		ul:first-child {
			/* Hide permlink */
			display: none;
		}
	}
}

/* Pagination table */
@{pagination-cls} {
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 1em 0;
	.no-print();

	ul {
		display: table-row;
	}
	li {
		display: table-cell;
	}
	code {
		color: inherit;
	}
}


/**** Sidebar ****/

@{side-id} {
	a, a:link, a:visited {
		color: #009;
	}
	a:hover, a:focus {
		color: #069;
	}

	h1 {
		display: none;
	}

	h2 {
		font-size: @large;
		text-align: center;
		margin-bottom: 1em;
	}

	ul, li {
		list-style: none;
	}

	.no-print();
}

/* Contact */
@{contact-id} {
	margin-top: 0;

	h2 {
		display: none;
	}
	ul {
		display: block;
	}
	li {
		display: block;
		text-align: center;
		margin: .5em 0;
		line-height: 1.25;
	}
	li:first-child {
		font-weight: bold;
		margin: 1em 0;
	}
}
.in {
	vertical-align: bottom;
	fill: currentcolor;
}
.in:hover {
	fill: #0977b5;
}

/* Categories */
@{categories-id} {
	ul {
		display: table;
		width: 100%;
	}
	li {
		display: table-row;
	}
	a {
		display: table-cell;
		padding: 0.25em 0;
	}
	small {
		display: table-cell;
		text-align: right;
		font-size: @tiny;
		padding: 0 0.5em;
		color: #555;
	}
}
@{feed-icon-cls} {
	width: 16px;
	span {
		display: block;
		background: url(DATA<feed.svg>) no-repeat;
		width: 1rem;
		height: 1rem;
		.grayscale-on();
		.text-off-screen();
	}
	&:hover span, &:focus span {
		.grayscale-off();
	}
}


/**** Footer ****/

@{foot-id} {
	color: #bbb;
	background: @head-bg;
	border-top: 1px dotted #ddf;
	font-size: @tiny;
	padding: 1em 0;
	text-align: center;

	a, a:link, a:visited, a:hover, a:focus {
		color: #acd;
	}

	@media print {
		color: #333;
		background: #fff;
		border-top: 1px dotted #ddd;
	}
}


/**** Print ****/

@media print {
	body, html {
		color: #000;
		background: #fff;
	}

	a, a:link, a:visited, a:hover, a:focus {
		text-decoration: none !important;
		border: none !important;
		color: inherit !important;
	}

	a:after {
		color: #333 !important;
		font-weight: normal;
		font-size: @tiny;
	}

	@{article-text-cls}, @{meta-cls} {
		a[href^="http://"]:after, a[href^="https://"]:after {
			content: " 〈" attr(href) "〉";
		}
		a[href^="/"]:after {
			content: " 〈mina86.com" attr(href) "〉";
		}
		a[href^="//"]:after {
			content: " 〈https:" attr(href) "〉";
		}
	}

	[data-email]::after {
		content: " 〈" attr(data-email) "〉";
		font-size: @tiny;
	}

	article h1 a[href^="/"]:after {
		content: "https://mina86.com" attr(href);
		display: block;
	}
}


/**** Generic stuff ****/

@{right-align-cls} {
	text-align: right;
}
@{left-align-cls} {
	text-align: left;
}
@{unicode-name}, abbr {
	font-variant: all-small-caps
}


.en, .pl {
	background: url(DATA<pl.svg>) 0 50% / 1.12em .7em no-repeat;
	text-indent: 1.25em;
}
.en {
	background-image: url(DATA<uk.svg>);
}
