/*!github.com/mina86/mina86.com*/

/**** Classes ****/

@atom-cls:             .a; /* Feed links in Categories */
@header-link-li-cls:   .b; /* LIs in the header excluding site name and cog */
@header-cog-li-cls:    .c; /* LI in the header with the cog settings link */
@header-site-li-cls:   .d; /* LI in the header with the H1 with site name */
/* e, f */
@code-dd-ul-cls:       .g;
/* h */
@linked-in-link-cls:   .i;
/* j */
@categories-dd-ul-cls: .k;
@left-align-cls:       .l; /* text-align: left */
@drop-down-ul-cls:     .m;
@contact-dd-ul-cls:    .n;
/* o, p */
@full-text-shown-cls:  .q;
@right-align-cls:      .r; /* text-align: right */
@selected-dd-lnk-cls:  .s;
@article-text-cls:     .t;
/* u, v */
@hue-slide-cls:        .w;
/* x */
@byline-cls:           .y;
/* z */

@float-right-cls:      .fr;
@float-left-cls:       .fl;
@meta-label-cls:       .lb; /* The ‘In categories:’ / ‘Tagged with:’ label */
@small-cls:            .sm; /* font-size: @small */
@news-image-cls:       .nw; /* FIGURE on Site News pages */
@unicode-name:         .ud;
@toggle-cls:           .tg;
@dark-toggle-cls:      .td;
@contrast-toggle-cls:  .tc;
@no-print-cls:         .np; /* Don’t print. */

/**** Identifiers ****/

@main-id:          #b; /* The MAIN element */
@comments-id:      #c; /* Comments under a post */
@dark-theme-id:    #d; /* ID set on HTML when dark theme is used */
@head-id:          #h; /* The header */
@categories-id:    #k; /* The Categories section in bottom nav */
/* Reserve #m for more links if those ever come back. */
@contact-id:       #n; /* The Contact section in bottom nav */
@pagination-id:    #p; /* Pagination at the bottom of a page */
@shade-id:         #s; /* ID of the shade over the page when drop down shown. */
@high-contrast-id: #t; /* ID set on BODY when high contrast scheme is used */
@nav-id:           #v; /* The bottom navigation section */


/**** Variables ****/
@bg-colour:           var(--a); @bg-colour-var: --a;
/* b */
@fg-low-colour:       var(--c);
/* d */
@border-colour:       var(--e);
@link-colour:         var(--f);
@visited-colour:      var(--g);
@hover-colour:        var(--h);
@code-colour:         var(--i);
@acc-bg-colour:       var(--j); /* Used in SVG images */
@head-bg-colour:      var(--k);
@head-colour:         var(--l);
@nav-bg-colour:       var(--m);
@nav-colour:          var(--n);
/* o */
@nav-link-colour:     @head-colour;
@nav-hover-colour:    var(--p); @nav-hover-colour-var: --p;
@nav-header-colour:   var(--q);
/* r, s, t, u, v */
@float-with:          var(--w);
@slide-position:      var(--x, 66%);
/* y */
@slide-colour:        var(--z);

@media print {
	body {
		color: #000;
		--a: #fff;
		--c: #444;
		--e: #000;
		--f: #000;
		--g: #000;
		--h: #000;
		--i: #000;
		--j: #ddd;
		--m: #fff;
		--n: #444;
		--l: #444;
		--p: #444;
		--q: #000;
	}
}

/* Sizes based on five-note typographic scale with ratio of two (see
   <http://spencermortensen.com/articles/typographic-scale/>).  Numbers are
   rounded to be multiple of 1/8 so that whatever they are they give an integer
   when multiple by 16px default font-size used by browsers.  Other sizes in
   this CSS are kept to be multiples of 1/8 as well to minimise non-integer
   dimensions. */
@tiny:     0.75em;   /* =  6/8 ≈ 2^-0.4 */
@small:    0.875em;  /* =  7/8 ≈ 2^-0.2 */
@large:    1.25em;   /* = 10/8 ≈ 2^0.4 */
@huge:     1.75em;   /* = 14/8 ≈ 2^0.8 */
@title:    2em;
@logo:     2.5em;


/**** Fonts ****/

@body-font: Libre Baskerville, Georgia, Charter, Utopia, serif;
@mono-font: DejaVu Sans Mono, Source Code Pro, Liberation Mono, Courier New, monospace;
@sans-font: DejaVu Sans, Noto Sans, Verdana, sans-serif;
@head-font: M, cursive;
@icon-font: M, var(--S);

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji');

@font-face {
	font-family: M;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(FIEJygQR.woff2) format('woff2');
	unicode-range: U+0020-U+007E,U+2304,U+238B,U+1F424;
}


/**** Utility mixins ****/

.no-print() {
	@media print {
		display: none !important;
	}
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	background: @bg-colour;

	--S: @sans-font;
	--B: @body-font;
	font-family: var(--B);
	font-variant: common-ligatures oldstyle-nums proportional-nums;
	text-rendering: optimizelegibility;
}

text {
	fill: currentcolor;
	font-family: var(--S);
}


/**** Page layout ****/
@media screen {
	@{main-id} a:after,
	@{header-link-li-cls} > a:after,
	@{atom-cls},
	@{linked-in-link-cls},
	@{code-dd-ul-cls} li::marker {
		font-family: @icon-font;
		font-weight: 400;
	}

	html {
		height: 100%;
		scrollbar-color: @nav-bg-colour @bg-colour;
	}
	body::-webkit-scrollbar {
		width: .5em;
	}
	body::-webkit-scrollbar-track {
		background: @bg-colour;
	}
	body::-webkit-scrollbar-thumb {
		background: @nav-bg-colour;
		border-radius: .2rem;
		border: 1px solid @bg-colour;
	}
	body {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		min-height: 100%;
	}

	@{head-id} {
		position: fixed;
		inset: 0 0 auto;

		font-family: var(--S);
		background: @head-bg-colour;
		color: @head-colour;
		backdrop-filter: blur(3px);

		box-shadow: 0 0 0.5rem 0 #000;

		height: 4em;
	}
}


/**** Links ****/

a {
	color: @link-colour;
	text-decoration: none;
	border-radius: 4px;
	text-underline-offset: 0.125rem;
}
a:visited {
	color: @visited-colour;
}
a:hover, a:focus {
	color: @hover-colour;
}
h1 a:visited, h1 a:hover, h1 a:focus {
	color: inherit;
}

@media screen {
	@{article-text-cls} a {
		text-decoration: underline dotted;
	}
	article h1 a {
		text-decoration: none;
		color: inherit;
	}
	main a:hover {
		text-decoration: underline;
	}
	@{article-text-cls} {
		a[href^="https://"]:after,
		a[href^="http://"]:after,
		a[href^="//"]:after {
			content: '⎋';
			opacity: .75;
		}
	}
}


/**** Header ****/

@{head-id} {
	.no-print();

	z-index: 9;
	h1 {
		font-family: @head-font;
		font-weight: 400;
		/* This uses ‘em’ so that it scales as font-size of the header
		   is changed when page scrolls.  Header’s font-size varies
		   from 1rem to 0.5rem. */
		font-size: @logo;
	}
	a {
		color: inherit;
	}
	a:hover {
		color: @nav-colour;
	}
	a:focus {
		outline: none;
		box-shadow: 0 0 0 2px @head-bg-colour,
			    0 0 1px 4px @nav-colour;
	}
	& > ul {
		height: 4em;
		display: flex;
		align-items: center;
		width: 60rem;
		max-width: 100%;
		margin: 0 auto;
		& > li {
			display: inline-block;
			margin: 0 1rem;
		}
		/* Upcase all but the first link.  This works because the first
		   link has an H1 in between LI and A so this rule doesn’t
		   match. */
		& > li > a {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 1rem;
		}
	}

	@{header-link-li-cls}:last-child {
		margin-right: 0;
	}
	@{header-site-li-cls} {
		width: 15rem;
		margin-right: 2rem;
	}
	@{header-cog-li-cls} {
		margin-left: auto;
	}
	/* Hide Code if too narrow */
	@media (max-width: 45em) {
		@{header-link-li-cls}:nth-child(3) {
			display: none;
		}
	}
	/* Hide site name but show Code if even more narrow. */
	@media (max-width: 35em) {
		@{header-site-li-cls} {
			display: none;
		}
		@{header-link-li-cls}:nth-child(3) {
			display: block;
		}
	}
	/* Hide site name and Code if even more narrow. */
	@media (max-width: 25em) {
		@{header-link-li-cls}:nth-child(3) {
			display: none;
		}
	}

	@{header-link-li-cls} > a {
		white-space: nowrap;
	}
	@{header-link-li-cls} > a:after {
		content: ' ⌄';
	}

	@{header-link-li-cls} a@{selected-dd-lnk-cls}:after {
		visibility: hidden;
	}
}

@{head-id} @{drop-down-ul-cls} {
	width: max-content;
	position: fixed;
	top: max(3.5em, 2rem);
	padding: 1rem;
	box-shadow: 0 0 0.5rem 0.2rem #000;
	li {
		font-size: 1rem;
	}
}


/**** Main ****/

@{main-id} {
	margin: 5rem auto 8rem;
	line-height: 2;
	@media print {
		margin: 0 0 2rem;
		line-height: 1.5;
	}

	h1 {
		font-size: @title;
		font-style: italic;
		line-height: 1;
		@media screen {
			text-shadow: 2px 2px 3px @fg-low-colour;
		}
	}
	h1 code, h1 kbd {
		color: inherit;
	}

	a:focus {
		outline: none;
		box-shadow: 0 0 0 2px @bg-colour,
			    0 0 1px 4px @hover-colour;
	}
}
@media screen {
	article, @{main-id} > div, @{pagination-id} {
		max-width: 50rem;
		margin-left: auto;
		margin-right: auto;
	}
}

@{byline-cls} {
	font-size: @small;
	font-style: italic;
	color: @fg-low-colour;
	break-before: avoid;

	a:visited, a:hover, a:focus {
		color: @link-colour;
	}
}


article, aside {
	clear: both;
	padding: 0 0.5em;
}
article {
	padding-top: 3em;
}
@media screen {
	article + article {
		position: relative;
		padding-top: 6em;
		&::before {
			position: absolute;
			inset: 2em 0 auto;
			height: 1em;
			content: "";
			color: @border-colour;
			background: @bg-colour url(DATA<separator.svg>) 50% 50% / 6.45em 1em no-repeat;
			background-blend-mode: luminosity;
			opacity: 0.5;
		}
	}
}

@{article-text-cls} {
	h2 {
		font-size: @huge;
		margin: (round(1em / @huge, 2)) 0;
	}
	h3 {
		font-size: @large;
		margin: (round(1em / @large, 2)) 0;
	}
	ul, ol, dl, p {
		font-size: 1em;
		margin: 1em 0;
	}
	p[id^=f] {
		font-size: @small;
		margin-top: (round(2em / @small, 2));
		background: linear-gradient(to right, @border-colour 70%, @bg-colour) no-repeat 0 0/40% 1px;
	}
	p[id^=f] + p[id^=f] {
		margin-top: 1em;
		background: none;
	}
	li {
		margin-left: 2em;
	}
	li::marker {
		color: @fg-low-colour;
	}

	p, dd, li {
		text-align: justify;
		hyphens: auto;
	}

	@media screen {
		&@{full-text-shown-cls} > p:last-child:after {
			font-family: cursive;
			color: @fg-low-colour;
			content: ' ~30~';
		}
	}
}

/* Meta */
aside {
	overflow: auto;
	break-inside: avoid;
	padding: 1em;
	font-style: italic;
	line-height: 1.5;

	a {
		border-style: none;
	}

	/* ‘See comments’/‘Continue reading’ link */
	& > a {
		float: left;
		margin-bottom: 0.5em;
	}

	ul {
		display: block;
		font-size: @tiny;
		text-align: right;
		margin: 0.5em 0;
	}
	li {
		display: inline;
		margin-left: 1em;
	}
	@media screen {
		li@{meta-label-cls} {
			display: none;
		}
	}
	li:before {
		content: '» ';
	}
	@{meta-label-cls}:before {
		content: '';
	}
}

/* Comments */
@{comments-id} {
	margin-top: 1rem;
}

/* Misc formatting */
pre, code, kbd {
	font-variant: lining-nums slashed-zero;
	break-inside: avoid;
	color: @code-colour;
}
code, kbd {
	font-family: var(--S);
	font-weight: 400;
	hyphens: manual;
}
pre, pre code, pre kbd {
	font-family: @mono-font;
}
pre {
	font-size: @small;
	margin: (round(1em / @small, 2));
	padding: (round(1em / @small, 2));
	border: 1px dashed @border-colour;
	line-height: 1.375;
	overflow-x: auto;
	i {
		font-style: normal;
		font-family: @body-font;
	}
}

blockquote {
	min-height: 2em;
	margin: 0.5rem 3em 0.5rem 0.5em;
	padding-left: 2.5em;
	font-size: @small;
	background: @bg-colour url(DATA<quote.svg>) 0 0 / 2em 2em no-repeat;
	background-blend-mode: luminosity;
}
blockquote > :first-child { margin-top: 0; }
blockquote > :last-child { margin-bottom: 0; }

/* Tables */
table {
	font-variant-numeric: tabular-nums;
	font-variant: lining-nums tabular-nums;
	border-collapse: collapse;
	margin: 1em auto;
}
thead th {
	text-align: center;
}
th, td {
	padding: 0.25em 0.5em;
	line-height: 1.5;
}
th small {
	font-weight: 400;
}
article {
	thead, tfoot, thead + tbody, tbody + tbody {
		border-top: 1px solid @border-colour;
	}
}

/* Lists */
ol li {
	list-style: lower-roman;
}
dt {
	padding: 0;
}
dd {
	margin: 0 0 0 2em;
}
dd + dt {
	margin-top: 0.5em;
}

/* Figures */
figure {
	text-align: center;
	img, svg {
		max-width: 100%;
		height: auto;
	}
	table {
		text-align: left;
	}
	break-inside: avoid;
}
figcaption {
	font-size: @small;
	margin: 0 2em 1em;
	text-align: justify;
}
@{news-image-cls} {
	margin: 1em auto;
	figcaption {
		margin: -1em 0 0;
		text-align: right;
		font-size: @tiny;
	}
}

/* Flags */

.en, .pl {
	background: url(DATA<pl.svg>) 0 50% / 1.12em .7em no-repeat;
	text-indent: 1.25em;
}
.en {
	background-image: url(DATA<uk.svg>);
}


/* Pagination */
@{pagination-id} {
	.no-print();

	clear: both;
	width: min(60rem, 95%);
	display: table;
	table-layout: fixed;
	margin: 4rem auto 0;
	font-size: @small;
	li {
		display: table-cell;
	}
	code {
		color: inherit;
	}
}


/**** Bottom Navigation and Drop Downs ****/

@{nav-id}, @{drop-down-ul-cls} {
	font-family: var(--S);
	background: @nav-bg-colour;
	color: @nav-colour;
}

@media screen {
	@{nav-id} {
		font-size: @small;
		& > div {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 60rem;
			max-width: 100%;
			margin: 0 auto;
		}

		h1 {
			display: none;
		}
		h2 {
			text-align: center;
			display: block;
			font-weight: bold;
			font-size: @large;
			border-bottom: 2px dotted currentcolor;
			color: @nav-header-colour;
		}

		@{drop-down-ul-cls} {
			line-height: 2;
		}

		section {
			width: 15rem;
			margin: 3rem 2rem;
		}
	}

	@{nav-id}, @{head-id} @{drop-down-ul-cls} {
		a {
			color: @nav-link-colour;
		}
		a:hover, a:focus {
			color: @nav-hover-colour;
		}
		a:hover {
			text-decoration: underline;
		}
		a:focus {
			outline: none;
			box-shadow: 0 0 0 2px @nav-bg-colour,
				    0 0 1px 4px @nav-hover-colour;
		}
	}
}


/* Categories */
@{categories-dd-ul-cls} {
	display: table;
	margin: 0 auto;
	li {
		display: table-row;
	}
	a, small {
		display: table-cell;
	}
	small {
		text-align: right;
		font-size: @tiny;
		padding: 0 (round(1.5em / @tiny, 2))
			 0 (round(3em / @tiny, 2));
	}
}
@{atom-cls} {
	@{nav-hover-colour-var}: #ea7d31;
}

/* Code */
@{code-dd-ul-cls} {
	font-weight: 400;
	margin: 0 auto;
	width: max-content;
	li {
		margin-left: 2em;
	}
	li::marker {
		content: 'git ';
	}
	li:last-child {
		text-align: center;
	}
	li:last-child::marker {
		content: '';
	}

	a {
		display: inline-block;
		width: 100%;
	}
}

/* Contact */
@{contact-dd-ul-cls} {
	list-style: none;
	text-align: center;
	line-height: 1.5;
	li {
		font-size: 1rem;
	}
	strong {
		font-size: @large;
	}
	@{head-id} & strong {
		color: @nav-header-colour;
	}
}
@{linked-in-link-cls} {
	@{nav-hover-colour-var}: #0977b5;
}
@{contact-id} {
	display: flex;
	flex-direction: column;
}
@{contact-id} @{contact-dd-ul-cls} {
	margin-bottom: auto;
}
@{contact-id} @{contact-dd-ul-cls} + h2 {
	margin-top: 2em;
}

/* Settings */
@{header-cog-li-cls} {
	ul, li {
		display: block;
		font-weight: bold;
	}
	li {
		margin: 0.5em 0;
		text-align: center;
	}
	li:nth-child(2) {
		cursor: pointer;
		border: 2px solid #000;
	}
}

@{toggle-cls} {
	font-size: @large;
	font-weight: bold;
	line-height: 1;

	position: relative;
	display: inline-block;
	width: 1.3em;
	height: 0.45em;
	border-radius: (0.45em / 2);
	background: @slide-colour;
	margin-left: 1.2em;
	cursor: pointer;

	&:before {
		box-sizing: border-box;

		display: block;
		position: absolute;
		left: -1.35em;
	}

	&:after {
		content: '';

		box-sizing: border-box;

		display: block;
		position: absolute;
		top:  ((0.45em - 0.8em) / 2);
		left: (-0.8em / 2 + 0.1em);
		width:  0.8em;
		height: 0.8em;
		border-radius: (0.8em / 2);
		border: 2px solid @nav-link-colour;
		background: @nav-link-colour;
		transition: left 0.15s;
	}
	&:hover:after {
		background: @nav-hover-colour;
	}
	&:focus {
		background: @nav-header-colour;
	}
}
div:focus {
	outline: none;
	box-shadow: 0 0 0 2px @nav-bg-colour,
		    0 0 1px 4px @nav-link-colour;
}

@{dark-toggle-cls}:before     {
	content: '☀';
	top: -.3em;
	@{dark-theme-id} & { content: '☾'; }
}
@{contrast-toggle-cls}:before {
	content: '◐';
	top: -.4em;
}

@{dark-theme-id} @{dark-toggle-cls}:after,
@{high-contrast-id} @{contrast-toggle-cls}:after {
	left: (1.3em - (0.8em / 2) - 0.1em);
}

@{hue-slide-cls} {
	position: relative;
	height: 1.5em;
}
@{hue-slide-cls} div {
	position: absolute;
	width: 10px;
	inset: -5px auto -5px calc(@slide-position - 5px);
	border: 2px solid #000;
	background: @slide-colour;
}


/* Citation dialogue and settings shade */
dialog {
	margin: 5vh auto;
	max-width: 40rem;

	background: @nav-bg-colour;
	color: @head-colour;
	border: none;
	box-shadow: 0 0 0.5rem 0.2rem #000;

	table {
		margin: 0rem;
	}
	td, th {
		/* Setting size on td and th individually rather than on dialog
		   so it’s simple to override with ‘thead th’ and ‘tbody td’
		   selectors. */
		font-size: @small;
	}
	thead th {
		font-size: 1em;
		padding: 0.25em;
		background: @head-bg-colour;
	}
	thead {
		background: @head-bg-colour;
	}
	tbody td {
		font-size: @tiny;
	}
	tbody tr > * {
		padding: .5rem .875rem;
	}
	pre {
		margin: 0;
		padding: 0;
		border: none;
		color: inherit;
		white-space: pre-wrap;
	}
	form {
		text-align: center;
		margin: 1rem auto;
	}
	@media (max-width: 30em) {
		table, tr, td, th {
			display: block;
		}
		tbody tr > * {
			padding: .25rem .5rem;
		}
	}
}

button {
	padding: 0.25em 0.5em;
	cursor: pointer;
	outline: 0;
	color: #000;
	background: @head-colour;
	border-radius: 5px;
	display: inline-block;
	box-shadow: 0px -1px 0px 0px #0004 inset;
	border: 1px solid #000;
	line-height: 1.5;
}
button:hover {
	box-shadow: 0px -1px 0px 0px #000 inset;
}
button:focus {
	outline: none;
	box-shadow: 0px -1px 0px 0px #000 inset,
		    0 0 0 2px @nav-bg-colour,
		    0 0 1px 4px @nav-link-colour;
}

@{shade-id}, dialog::backdrop {
	background: #0008;
	backdrop-filter: blur(2px);
	transition: opacity 0.5s;
}
@{shade-id} {
	position: fixed;
	inset: 0;
	opacity: 0;
	z-index: 5;
}


/* Floats */
@{float-right-cls}, @{float-left-cls} {
	clear: both;
	width: var(--w,20em);
	margin: 1em ~"clamp(max(-10em,5em - var(--w,20em)),31em - 50vw,1em)";
	max-width: 100%;
}
@{float-right-cls} {
	float: right;
	margin-left: 1em;
}
@{float-left-cls} {
	float: left;
	margin-right: 1em;
}

@{right-align-cls} {
	text-align: right;
}
@{left-align-cls} {
	text-align: left;
}

@{small-cls} {
	font-size: @small;
}

abbr, @{unicode-name} {
	font-variant: all-small-caps;
}


/* Print-specific */
@media print {
	@{no-print-cls} {
		display: none;
	}

	a:after {
		color: inherit;
		font-weight: 400;
		font-style: italic;
		font-size: unit(@tiny, rem);
	}

	@{article-text-cls} {
		a[href^="http://"]:after, a[href^="https://"]:after {
			content: " 〈" attr(href) "〉";
		}
		a[href^="/"]:after {
			content: " 〈mina86.com" attr(href) "〉";
		}
		a[href^="//"]:after {
			content: " 〈https:" attr(href) "〉";
		}
	}
	@{main-id} h1 a[href^="/"]:after {
		content: "https://mina86.com" attr(href);
		display: block;
		color: @fg-low-colour;
	}

	@{nav-id} section, @{nav-id} h1, @{nav-id} h2 {
		display: none;
	}
	@{nav-id} @{contact-id} {
		display: block;
		margin: 0 auto 2rem;
	}

	@{float-right-cls}, @{float-left-cls} {
		margin: 1rem 0;
	}
}
