/*
 * #v  wrap around the whole content
 *
 * #h  header
 * #b  blue bar at the top “below” the content
 * #s  search form
 * #sf search field
 *
 * #w  wrap around #r, main and #j
 * #j  jump links
 *
 * #c  comments
 * #k  add comment anchor
 * #cb comment textarea
 *
 * #m  read more anchor
 *
 * #i  entries list
 *
 * #r  sidebar
 * #e  contact addresses
 * #l  list of categories in sidebar
 * #a  archive links in sidebar
 * #f  buttons
 *
 * .c  “content”
 *
 * .a  access key
 * .n  TR with “Nick” entry in add comment form
 * .m  meta entry information
 * .k  comment under the entry
 * .kp comment preview
 * .i  notes at the start of an article
 *
 * .t  tty only
 * .np no print
 *
 * .l  load more link
 * .p  pager table
 *
 * .r  feed icon
 *
 * .b  input button
 *
 * .b? buttons within #f
 *
 * .d  links which should be visible in narrow view only
 *
 * .g  wrapper around g+ button
 */

header, aside, section, article, nav, footer, main {
	display: block;
}

html {
	height: 100%;
}
html, body {
	font: Tahoma, sans-serif;
	text-rendering: optimizelegibility;
	/* Going from colour of the Universe (a.k.a. Cosmic Latte, see
	 * <http://www.pha.jhu.edu/~kgb/cosspec/>) to colour of the Milky Way
	 * (see >http://www.news.pitt.edu/milkywaycolor>). */
	background: #fff8e7;
	background: -moz-linear-gradient(top, #fff8e7 0%, #f9f1ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff8e7), color-stop(100%,#f9f1ff));
	background: -webkit-linear-gradient(top, #fff8e7 0%,#f9f1ff 100%);
	background: -o-linear-gradient(top, #fff8e7 0%,#f9f1ff 100%);
	background: -ms-linear-gradient(top, #fff8e7 0%,#f9f1ff 100%);
	background: linear-gradient(to bottom, #fff8e7 0%,#f9f1ff 100%);
}

* {
	margin: 0;
	padding: 0;
}

small, .l, #j, .m, #e li:before, .News {
	font-size: 0.75em;
}

h1, h2, h3, h4 {
	page-break-after: avoid;
	line-height: 1em;
}

.l {
	margin-left: 1em;
}
.c .l:before {
	content: '(';
}
.l:after {
	content: ')';
}

img {
	border: none;
}

img.News, #w, textarea, .p {
	width: 100%;
	box-sizing: border-box;
}

#w, #r, pre {
	overflow: auto;
}

body > footer {
	border-top: 1px dotted #ddf;
	font-size: 0.75em;
	margin: 1.5em 0 0;
	padding: 1em 0 0;
	text-align: center;
}

@media screen, projection, tv, handheld {
	a, #j a:visited {
		text-decoration: none;
		color: #00f;
	}
	.c a {
		border-bottom: 1px dotted #99f;
	}
	a:visited {
		color: #63c;
	}
	a:hover, a:focus, a:active {
		color: #09f;
		text-decoration: underline;
	}
	.c a:hover, .c a:focus, .c a:active {
		text-decoration: none;
		color: #09f;
		border-bottom: 1px solid #09f;
	}

	.m              { color: #333; }
	.m a, .m a:link { color: #33c; }
	.m a:visited    { color: #339; }

	#r a, #r a:link, #r a:visited { color: #009; }
	#r a:hover, #r a:focus, #r a:active { color: #069; }

	h1 a, h1 a:link, h1 a:hover, h1 a:active, h1 a:focus, h1 a:visited,
	h2 a, h2 a:link, h2 a:hover, h2 a:active, h2 a:focus, h2 a:visited,
	h3 a, h3 a:link, h3 a:hover, h3 a:active, h3 a:focus, h3 a:visited,
	h4 a, h4 a:link, h4 a:hover, h4 a:active, h4 a:focus, h4 a:visited {
		color: inherit;
		background: none;
	}

	.a {
		text-decoration: underline;
	}

	#v {
		margin: 1em auto;
		padding: 1em;
		background: #fff;
		width: 62em;
		position: relative;
		z-index: 2;
	}

	#v, #j, .c {
		border-radius: 1em;
		/* box-shadow: 0.2em 0.2em 0.5em #ccc; */
		/* -moz-box-shadow: 0.2em 0.2em 0.5em #ccc; */
		/* -webkit-box-shadow: 0.2em 0.2em 0.5em #ccc; */
		border: 1px solid #ddd;
	}

	#b {
		position: absolute;
		top: 2em;
		left: 0;
		right: 0;
		width: 100%;
		height: 14em;
		background: #36f;
		z-index: 1;
	}

	#h {
		width: 100%;
		height: 14em;
		position: relative;
		background: #69f url(/files/top-img.jpg) no-repeat;
		background-size: cover;
	}

	#h > * {
		position: absolute;
	}

	#j {
		color: #000;
	}

	h1 {
		color: #fff8e7;
		top: 20%;
		left: 2%;
		width: 8em;
		font-size: 1.95em;
		text-align: center;
	}

	#h nav {
		bottom: 20%;
		left: 2%;
	}

	#h li {
		display: inline-block;
		margin: 0.2em;
	}

	#h ul a, #h ul a:link, #h ul a:visited {
		display: inline-block;
		padding: 0.5em 1em;
		color: #333;
		font-weight: 700;
		white-space: nowrap;
		background: #fff;
		background: rgba(255, 255, 255, 0.25);
		text-decoration: none;
		border-radius: 0.3em;
	}

	#h ul a:hover, #h ul a:active, #h ul a:focus, #h input:active, #h input:focus, #h input:hover {
		color: #00f;
		background: rgba(255, 255, 255, 0.75);
		background: -o-linear-gradient(bottom, #cff, rgba(255, 255, 255, 0.25));
		background: -ms-linear-gradient(bottom, #cff, rgba(255, 255, 255, 0.25));
		background: -moz-linear-gradient(bottom, #cff, rgba(255, 255, 255, 0.25));
		background: -webkit-linear-gradient(bottom, #cff, rgba(255, 255, 255, 0.25));
		text-shadow: #000 0.5em 0.5em 1em;
	}

	#s {
		top: 1em;
		right: 1em;
	}

	label[for=sf], label[for=cb] {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}

	#h input {
		background: #fff;
		background: rgba(255, 255, 255, 0.25);
		border: 1px solid #000;
		padding: 0 0.2em;
	}

	#h input.s {
		padding: 0 1em;
	}

	#j {
		position: fixed;
		top: 1em;
		right: 1em;
		z-index: 10;
		width: 10em;

		background: #cdf;
		opacity: 0.75;
	}

	#j:hover {
		opacity: 1;
	}

	.t, #j ul {
		display: none;
	}

	#j p, #j ul {
		margin: 0;
		padding: 0.5em;
	}

	#j ul {
		list-style: none;
		padding-top: 0;
	}

	#j:hover ul, #j:active ul, #j:focus ul, #h > * {
		display: block;
	}

	#j li:before {
		content: '…';
	}

	main {
		float: left;
		width: 45em;
	}

	pre {
		background: #eef;
		border: 1px solid #ddf;
		border-bottom-color: #fff;
		border-right-color: #fff;
	}

	#r {
		float: right;
		width: 14em;
	}

	@media (min-width:63em) {
		#h li.d {
			display: none;
		}
	}

	@media (max-width:63em) {
		#v {
			max-width: 45em;
			width: auto;
		}

		#j {
			display: none;
		}

		#r, main {
			float: none;
			width: auto;
		}

		#r {
			border-top: 1px solid #ddf;
		}
	}

	@media (max-width:47em) {
		#v {
			margin: 0;
			padding: 0;
			border: 0 none #fff;
			border-radius: 0;
		}
		#k {
			padding: 0 0.5em;
		}
		#b {
			display: none;
		}
		#r {
			border-top: 0px none #eef;
			background: #eef;
		}
		body > footer {
			margin-top: 0;
		}
	}

	@media (max-width:40em) {
		.c {
			margin: 0;
			padding: 0.5em;
			border: 0 none #fff;
			border-radius: 0;
		}
	}
}

.p {
	display: table;
	table-layout: fixed;
}
.p ul {
	display: table-row;
}
.p li {
	display: table-cell;
}
.pn {
	text-align: right;
}

h1 span {
	font-variant: small-caps;
}

main {
	padding: 1em 0;
}

main h2 {
	font-size: 1.77em;
	margin: 1.1em 0 .6em;
	text-align: center;
}

article, .k {
	margin-bottom: 2em;
}

article, .k, .m {
	page-break-inside: avoid;
}

.m ul, .m li, .m {
	display: block;
	list-style: none;
}
.m li {
	display: inline;
}

.m li:before {
	content: '» ';
}
.m li:after {
	content: ' ';
}


/* Text */

article h3 {
	font-size: 1.25em;
	margin: .8em 0;
}

h4 {
	font-size: 1em;
}

.m {
	text-align: right;
	padding: 1em;
}

.g {
	float: right;
}

blockquote, .r span, #f a, .plFlag, .enFlag {
	background: url('/files/t.png') no-repeat;
}

blockquote {
	background-position: -125px 0;
	min-height: 20px;
}
blockquote blockquote {
	background: none;
	min-height: 0;
}


/* Comment */

.k img:first-child {
	float: left;
	width: 2em;
	height: 2em;
	margin: 0 1em;
}

.k h3 {
	font-size: 1em;
	text-align: left;
	padding: 0 1em;
	margin: 0;
}
.k .m {
	text-align: left;
	font-weight: 400;
	margin-left: 1em;
	padding: 0 1em;
}

.owner .c {
	background: #EFE;
}

.trackback .c {
	background: #EEE;
}

.k h3 span:before {
	content: ' ';
}

.k.guest h3 span:before {
	color: #999;
	content: '~';
}

/* Add Comment */
.kp {
	background: #fcc;
}
label {
	font-weight: 700;
}
textarea {
	margin: 0.5em 0;
}
#commnickid, textarea {
	color: #000;
	background: #fff;
	border: 1px solid #000;
	padding: 0 0.2em;
}
.b {
	margin: 0.5em;
	padding: 0.2em 0.5em;
}
#k ul {
	margin: 1em 0;
	padding-left: 40px;
}


.c {
	margin: 0.5em;
	padding: 1em 2em;
	overflow: auto;
}

q:before, q:after {
	content: '';
}

.c p {
	margin: 1em 0;
}
p.News {
	margin-top: 0;
}
.c p.i {
	text-align: left;
	font-style: italic;
}

.c p, .c dd, .c li {
	text-align: justify;
	text-justify: distribute;
	text-justify: newspaper;
	hanging-punctuation: first allow-end last;
}

.c ul, .c ol, .c dl {
	padding: 0;
	margin: 1em 0;
}
.c li {
	padding: 0;
	margin: 0;
	margin-left: 2em;
}
.c dt, .c dd {
	padding: 0;
	margin: 0.25em 0 0.25em 1em;
}
.c dd {
	margin-left: 2em;
}
.c dd+dt {
	margin-top: 1em;
}

blockquote {
	padding: 0 26px;
	margin: 1em 0;
	font-style: italic;
}

tt {
	font: inherit;
	color: #363;
}

@media screen, projection, tv  {
	main {
		line-height: 1.5em;
		text-shadow: 0.05rem 0.05rem 0 #D9D9E6;
	}
	pre {
		line-height: 1.3em;
		text-shadow: none;
	}
	h2, h3 {
		text-shadow: 0.05rem 0.05rem 0 #C6D9EC;
	}
}

pre {
	font: 1em Hack, monospace;
	color: #030;
	margin: 1em 0;
	padding: 0.5em;
	font-variant-numeric: slashed-zero;
}

/* Flags */

.plFlag, .enFlag {
	text-indent: 22px;
}

.plFlag {
	background-position: -75px -50px;
}

.enFlag {
	background-position: -100px -25px;
}

#r > * {
	padding: 0.5em;
	margin: 1em 0;
}

#r h2 {
	display: none;
}

#r h3 {
	font-size: 1.25em;
	text-align: center;
	margin-bottom: 1em;
}

#r ul, #r li {
	list-style: none;
}

#e {
	background: url('DATA<head.png>') 100% 100% no-repeat;
}

#e li {
	margin-left: 1em;
}
#e li:before {
	content: '@ ';
}

#l ul, #a ul {
	display: table;
	width: 100%;
}
#a li, #l li {
	display: table-row;
}
#l a, #a a {
	display: table-cell;
}
#l small, #a small {
	display: table-cell;
	text-align: right;
	padding: 0 0.2em;
	color: #555;
}
.r {
	width: 16px;
}
.r span {
	display: block;
	background-position: -25px -50px;
	width: 16px;
	height: 16px;
}
h2 .r span {
	display: inline-block;
}

#f ul, #f li {
	display: block;
	margin: 0 auto;
	text-align: center;
}
#f li {
	display: inline-block;
	margin: 0 2px;
}
#f a {
	display: inline-block;
	width: 24px;
	height: 24px;
}
#f .bf a       { background-position:  -100px  0; }
#f .bf a:hover { background-position:  -50px -50px; }
#f .be a       { background-position:  -50px   0; }
#f .be a:hover { background-position:  -50px -25px; }
#f .bc a       { background-position:  -25px   0px; }
#f .bc a:hover { background-position:  -25px -25px; }
/* #f .bb a       { background-position:    0     0; } */
#f .bb a:hover { background-position:    0   -25px; }
#f .bs a       { background-position:  -75px   0; }
#f .bs a:hover { background-position:  -75px -25px; }

#f a, .r span {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@media print {
	a, a:link, a:visited, a:hover, a:focus, a:active {
		text-decoration: none;
		color: inherit;
	}

	body {
		background: #fff;
	}
	#k, #b, #h img, #h nav, #h ul, #r, .t, .np, .p, form, #j, .c footer {
		display: none !important;
	}
}

@media speech, braille, embossed, tty {
	.News {
		display: none;
	}
}

.rht {
	text-align: right;
}
